.footer {
  height: 180px;
  background-image: url(../images/footer__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @include on-tablet {
    height: 359px;
  }
}
