.header {
  height: 100vh;
  background-image: url(../images/header__bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;
  align-items: center;

  @include on-tablet {
    padding: 0 72px;
  }

  @include on-desktop {
    padding: 0 120px;
  }

  &__logo {
    display: flex;

    @include on-tablet {
      width: 87px;
      height: 65px;
    }

    @include on-desktop {
      width: 87px;
      height: 65px;
    }
  }

  &__top {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    box-sizing: border-box;
    align-items: center;

    @include on-tablet {
      margin-top: 50px;
    }

    @include on-desktop {
      margin-top: 50px;
    }
  }

  &__phone-wrapper {
    width: 300px;
    text-align: right;
    position: absolute;
    top: -100%;
    opacity: 0;
    pointer-events: none;
    right: 100%;
    transition-duration: 0.3s;
  }

  &__phone {
    &-adress {
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
      vertical-align: middle;
      text-transform: uppercase;
      color: white;
    }

    &-number {
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
      vertical-align: middle;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      margin-bottom: 8px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 24px;

    &-item {
      position: relative;
    }

    @include on-desktop {
      &-item:hover .header__phone-wrapper {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__title {
    position: absolute;
    top: 35%;
    font-family: Cinzel, serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
    color: white;

    @include on-tablet {
      top: 30%;
      font-size: 64px;
      line-height: 64px;
    }

    @include on-desktop {
      align-self: center;
      font-size: 80px;
      line-height: 80px;
    }
  }
}
