.icon {
  position: relative;
  display: flex;
  width: 24px;
  height: 24px;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  @include on-desktop {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icon__phone.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &--menu {
    background-image: url(../images/icon__menu.png);
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-image: url(../images/icon__menu-pressed.png);
    }
  }

  &--exit {
    background-image: url(../images/icon__exit.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}
