.menu {
  a {
    text-decoration: none;
    color: white;
  }

  background-color: $main_accent;
  height: 100vh;
  padding: 0 20px;

  @include on-tablet {
    padding: 0 72px;
  }

  @include on-desktop {
    padding: 0 120px;
  }

  &__top {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    box-sizing: border-box;
    align-items: center;

    @include on-tablet {
      margin-top: 50px;
    }

    @include on-desktop {
      margin-top: 50px;
    }
  }

  &__logo {
    display: flex;

    @include on-tablet {
      width: 87px;
      height: 65px;
    }

    @include on-desktop {
      width: 87px;
      height: 65px;
    }
  }

  &__nav {
    margin-top: 40px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      position: relative;
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-style: Bold;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
      text-transform: uppercase;

      @include menu-hover;
    }
  }

  &__phones {
    padding: 0;
    margin: 0;
    list-style: none;

    &-item {
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;

      text-transform: uppercase;
      color: white;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 16px;
      }
    }

    &-link {
      position: relative;
      color: white;
      text-decoration: none;

      @include menu-hover;
    }
  }

  &__order-button {
    position: relative;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;

    @include menu-hover;
  }
}
