.now-on-view {
  display: grid;

  @include grid-columns;

  &__list {
    grid-column: 1 / -1;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 48px;
  }

  &__text {
    padding-top: 24px;
  }

  &__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;

    color: $main-accent;
  }

  &__subtitle {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;
  }

  &__pictures-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @include grid-columns;
  }

  &__pictures-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;

    @include grid-columns;
  }

  &__pictures-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @include grid-columns;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.3s;

    &:hover {
      scale: 1.1;
    }
  }

  &__image-wrapper {
    overflow: hidden;
  }

  &__button {
    grid-column: 1 / -1;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    width: 100%;
    height: 56px;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;

    background-color: $main-accent;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;

    &:hover {
      background-color: #ae1c23;
      cursor: pointer;
    }

    &:active {
      background-color: #eb343d;
    }

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }
  }

  &__big-img {
    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 8;
    }
  }

  &__small-img {
    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__medium-img {
    @include on-tablet {
      grid-template-columns: repeat 1;
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}

.scaled-picture-1 {
  scale: 1.5;
  object-position: 20% top;

  @include on-tablet {
    scale: 1;
    object-position: center top;
  }
}

.scaled-picture-2 {
  object-position: right top;

  @include on-tablet {
    object-position: center top;
  }
}
