.section {
  margin-top: 100px;

  &__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $main-dark;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 48px;
    }

    &--left {
      text-align: left;
    }

    &-red {
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 140%;

      text-decoration: none;
      color: $main-accent;
      margin-bottom: 2px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 30px;

    color: $main-dark;
  }

  &__about-us {
    display: grid;

    @include grid-columns;

    &-title {
      margin-bottom: 32px;

      @include on-tablet {
        grid-column: 1 / 4;
      }

      @include on-desktop {
        grid-column: 1 / 6;
      }
    }

    &-wrapper {
      @include on-tablet {
        grid-column: 4 / -1;
      }

      @include on-desktop {
        grid-column: 6 / -1;
      }
    }
  }

  &__dates {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-top: 16px;
    list-style: none;
    gap: 24px;

    &-bold {
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;

      & * {
        margin-bottom: 8px;
      }
    }

    &-normal {
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 27px;

      & * {
        margin-bottom: 8px;
      }
    }
  }

  &__closed {
    margin-top: 16px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
    }

    &-text {
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__now-on-view {
    text-align: center;
  }

  &__subtext {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;

    text-align: center;
    margin-top: 8px;
  }
}
